name: Gladiatus Visit Bot

on:
  schedule:
    - cron: '*/5 * * * *' # Ejecutar cada 5 minutos
  workflow_dispatch: # Permite ejecutarlo manualmente con un botón para probar

jobs:
  visit-profile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar Bot de Visita
        run: node index.js
