name: Gladiatus Bot Final

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

env:
  # Bloqueamos la descarga de Chromium para acelerar la instalación (Modo Turbo)
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
  PUPPETEER_EXECUTABLE_PATH: '/usr/bin/google-chrome'

jobs:
  visit-profile:
    runs-on: ubuntu-latest
    timeout-minutes: 5 # Seguridad: si se traba, se mata rápido para no consumir cola
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install
        # Instalación ultrarrápida (solo librerías ligeras, sin navegador)
        run: npm install

      - name: Run
        run: node index.js
